.authorText {
	float: left;
	padding-left: 15px;
}

.authorName {
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}

.editPanel {
	display: none;
	float: left;
	padding-left: 15px;
}

#editAuthorRow {
	width: 100%;
	height: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	display: inline-block;

}

#addAuthorMainBlock {
	margin-top: 40px;
	margin-bottom: 65px;
}

div.hide {
	display: none;
	float: left;
	padding-left: 15px;
}

div.show {
	float: left;
	padding-left: 15px;
}

#savePanel {
	width: 100%;
}
#expired{
	position:relative;
	width: 30px;
	height: 100%;
	float: left;
	margin-left: 30px;
	
}