
	#options div{
		text-align: left;
		
		padding-left: 15px;
	}
	#options{
	list-style-type:circle;
	margin-left:10px;
	margin-right:15px;
	margin-bottom:10px;
	margin-top: 0px;
	background-color: white;
	
	}
	#menuBarBlock{
			
		background-color: gray;
		
		border: 1px solid;
		border-color: #CCCCCC;
		border-top: 0px;
	}


