#loginPageMainBlock{
	
	width: 250px;
	height: 400px;
	left: 50%;
	margin-top: 250px;
	
	
		
}
#loginBlock{
	float:left;
	width:100%;
}

#passwordBlock{
	float:left;
	width:100%;
	
}
#loginButtonBlock{
	
}
#loginButton{
	width: 120px;
	height: 40px;
	float: right;
	margin-top: 5px;
}
#errorMessage{
	
	color: red;
	text-align: center;
	width: 100%;
	margin-bottom:10px;
	
}
.textBlock{
	float: left;
	width: 80px;
	height: 100%;
	text-align: left;

}
.textFeild{
	width: 150px;
	height: 100%;
	float: right;

}