#header {
	border: 1px solid;
	width: 100%;
	height: 100%;
	border-top: 3px;
}

#centralBlock {
	border: 1px solid;
	width: 100%;
	overflow: hidden;
	position: relative;
}

#leftMenu {
	float: left;
	width: 25%;
	height: 100%;
	position: absolute;
	bottom: 0px;
}

#menuBar {
	width: 100%;
	height: 100%;
}

#mainBodyDiv {
	float: right;
	width: 73%;
	height: 100%%;
}

#body {
	border: 1px gray solid;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 100%;
	height: 100%;
}

#footer {
	border: 1px solid;
	width: 100%;
	height: 100%;
}

#mainView {
	width: 100%;
	height: 100%;
	border: 1px solid;
	border-collapse: collapse;
}