
.filterBlock {
	overflow: hidden;
	width: 100%;
	margin-top: 30px;
	margin-bottom: 50px;
}

.box {
 	white-space: nowrap 
}

.box div {
	display: inline-block;
}
.multiselect {
	width: 200px;
}

.selectBox {
	 position: relative; 
}

.selectBox select {
	width: 100%;
}

.overSelect {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0; 
}

#checkboxes {
 	position: absolute; 
	background-color: #ffffff;
	width: inherit; 
	display: none;
	border: 1px #dadada solid;
}

#checkboxes label {
	display: block;
}

#checkboxes label:hover {
	background-color: #1e90ff;
}




#titleBlock {
	
}

#dateBlock {
	
}

#biefBlock {
	
}

#contentBlock {
	
}

#addNewsMainBlock {
	position:relative;
	height: 100%;
	width: 550px;
	margin-bottom: 350px;
	margin-top: 30px;
	
}

#tagAndAuthorBlock {
	margin-left:20%;
	width: 400px;
	height: 100%;
}

#authorBlock {
	
	
	float: left;
	
}

#tagBlock {
	float: left;
	
}

#saveBlock {
	display:inline-block;
	width:100%;
	
	text-align: right;
	
}



.block {
	display:inline-block;
	height: 100%;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;

}

.textField{	
	float:left;
	width:400px;
	height:100%;
	
	margin-left: 20px;
}
.textClass {
	float:left;
	margin-left: 20px;	
	width:100px;
}

.errorMessage{
	
	margin-left: 20px;
	color: red;
}