
		.tagText{
			float: left;
			padding-left: 15px;	
			
		}
		.tagName{
			float: left;
			padding-left: 15px;	
			padding-right: 15px;
			
		}
		.editPanel{
			display:none;
			float: left;							
			padding-left: 15px;	
			
		}

		#editTagRow {
			
			width:100%;
			height:100%;
			margin-top:20px;
			margin-bottom:20px;
			display: inline-block;
		}
		#addTagMainBlock{
			margin-top: 40px;
			margin-bottom: 65px;
		}
		
		
		
		div.hide { 
			display:none; 
			float: left;							
			padding-left: 15px;
 
			}
		div.show {
			float: left;							
			padding-left: 15px;	}
			
		#savePanel{
			width:100%;
			
		}	
		
