#mainBlock {
	height: 80px;
	width: 100%;
}

#headerName {
	width: 520px;
	height: 80px;
	float: left;
	text-align: left;
}

}
#localeBlock {
	width: 100px;
	height: 30px;
	float: right;
}

#rightHeaderDiv {
	float: right;
}