#mainHeaderBlock {
	position: relative;
	width: 100%;
}

#leftHeaderDiv {
	float: left;
	width: 60%;
}

#rightHeaderDiv {
	width: 40%;
	height: 100%;
	float: left;
	margin-top: 5px;
}

#logoutBlock {
	height: 50px;
}

#logoutBlock div {
	margin-right: 5px;
	float: right;
}

#localeBlock {
	margin-right: 5px;
}