.filterBlock {
	overflow: hidden;
	width: "100%";
	margin-top: 30px;
	margin-bottom: 50px;
}

.box {
	white-space: nowrap
}

.box div {
	display: inline-block;
}

.titleBlock {
	float: left;
	width: 100%;
	margin-bottom: 10px;
}

.tagsBlock {<!--
	opacity: 0.5;
	-->
}

.newsBlock div {
	margin: 3px;
}

.shortTextBlock {
	float: left;
}

.searchResultMessage {
	margin-bottom: 50px;
}



.multiselect {
	width: 200px;
}

.selectBox {
	position: relative;
}

.selectBox select {
	width: 100%;
	
}

.overSelect {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

#checkboxes {
	position: absolute;
    background-color: #ffffff;
    width: inherit;
	display: none;
	border: 1px #dadada solid;
	
}

#checkboxes label {
	display: block;
}

#checkboxes label:hover {
	background-color: #1e90ff;
}
#paginationBlock{
	position:absolute;
	margin-top:10px;
	background-color: #E0E0E0;	
	width:100%;	
	left: 0px;
	right: 0px;	
	bottom: 40px;
		
	
}
#paginationBlock div{
	
	left:50%;
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline-block;	
	
}

#mainDiv {
	margin-left: 15px;
	margin-right: 10px;
	position: relative;
	height:100%;	

}
