
.viewNewsMainBlock {
	margin-bottom: 50px;
	margin-left: 50px;
	margin-right: 80px;
	margin-top: 50px;
	position: relative;
}

.fullTextBlock {
	padding-bottom: 30px;
}

.newsHead div {
	float: left;
	padding-bottom: 30px;
}

#boxclose {
	float: right;
	color: black;
	font-weight: 1px;
	border: 1px solid #AEAEAE;
	display: inline-block;
	height: 15px;
	width: 15px;
	border: 1px solid #AEAEAE;
}
#errorMessage{
	color: red;
}