.header {
	border: solid 3px;
	width: 100%;
	height: 100%;
	border-bottom: solid 0px;
}

.body {
	border: solid 3px;
	width: 100%;
	height: 100%;
	padding-bottom: 30px;
}

.footer {
	border: solid 3px;
	border-top: solid 0px;
	width: 100%;
	height: 100%;
}

.mainView {
	width: 100%;
	height: 100%;
}