.viewNewsMainBlock {
	margin-bottom: 50px;
	margin-left: 50px;
	margin-right: 80px;
	margin-top: 50px;
}

.fullTextBlock {
	padding-bottom: 30px;
}

.newsHead div {
	float: left;
	padding-bottom: 30px;
}